In [2]:
import pandas as pd
import mysql.connector as conn

mydb = conn.connect(host = 'localhost', user = 'root', password="root")
cursor = mydb.cursor()

In [3]:
data = pd.read_sql("SELECT *  FROM employees.worker",mydb)
data

,First_Name,Last_Name,Department,Salary,Joining_Date,Email_ID
0,Siva,Ganesan,IT,250000,Aug-12-2022,Siva@gmail.com
1,Ranjini,Ganesan,Engg,150001,Aug-16-2022,Ranjini@gmail.com
2,sankare,Ganesan,Content Dev,250001,Aug-14-2022,sankare@gmail.com
3,Valarmathi,Ganesan,Mech,150001,Aug-15-2022,Valarmathi@gmail.com
4,Poovitha,Mathi,IT,130001,Aug-16-2022,Poovitha@gmail.com
5,Ananaya,Gosh,Content Dev,190001,Aug-12-2022,Ananaya@gmail.com
6,Aayushi,Amrit,IT,250000,Aug-18-2022,Aayushi@gmail.com
7,Suganya,Rangan,Content Dev,210000,Aug-19-2022,Suganya@gmail.com
8,Raju,Danta,Tester,50000,Aug-20-2022,Raju@gmail.com
9,Ram,Krishna,IT,25000,Aug-21-2022,Ram@gmail.com
10,Shanmathi,Shankar,Accounts,30000,Aug-12-2022,Shanmathi@gmail.com
11,Jin,Quan,IT,340932,Aug-23-2022,Jin@gmail.com
12,Babu,sundaram,Engg,210000,Aug-24-2022,Babu@gmail.com
13,Saravana,Babu,Content Dev,50000,Aug-23-2022,Saravana@gmail.com
14,Murugan,Palani,Mech,25000,Aug-23-2022,Murugan@gmail.com
15,Vel,Mani,Mech,30000,Aug-27-2022,Vel@gmail.com
16,Mani,Megalai,IT,210000,Aug-24-2022,Mani@gmail.com
17,Amitabh,Ganesan,IT,250000,Aug-10-2022,Amitabh@gmail.com
18,Vipul,Amitabh,Mech,230000,Aug-17-2022,Vipul@gmail.com
19,Satish,rangan,IT,200000,Aug-16-2022,Satish@gmail.com
20,Amitah,puri,Engg,150000,Aug-11-2022,Amitah@gmail.com
21,sithah,karthick,Mech,200000,Aug-19-2022,sithah@gmail.com
22,Vinoth,nagarajan,IT,2000,Feb-19-2022,Vinoth@gmail.com
23,Aditya,Varadharajan,Engg,290000,Feb-14-2022,sithah@gmail.com
24,Anbu,Selvan,Mech,170000,Feb-11-2022,sithah@gmail.com
25,Vinoth,nagarajan,IT,2000,Feb-19-2014,Vinoth@gmail.com
26,Aditya,Varadharajan,Engg,290000,Feb-14-2014,sithah@gmail.com
27,Anbu,Selvan,Mech,170000,Feb-11-2014,sithah@gmail.com
28,Satish,rangan,IT,200000,Aug-16-2022,Satish@gmail.com
29,Vipul,Amitabh,Mech,230000,Aug-17-2022,Vipul@gmail.com

# Q-13. Write an SQL query to show only odd rows from a table.

In [4]:
data_1 = pd.read_sql("SELECT * FROM ( SELECT *,ROW_NUMBER() OVER() AS rownum FROM employees.worker ) t WHERE t.rownum % 2 != 0",mydb)
data_1

,First_Name,Last_Name,Department,Salary,Joining_Date,Email_ID,rownum
0,Siva,Ganesan,IT,250000,Aug-12-2022,Siva@gmail.com,1
1,sankare,Ganesan,Content Dev,250001,Aug-14-2022,sankare@gmail.com,3
2,Poovitha,Mathi,IT,130001,Aug-16-2022,Poovitha@gmail.com,5
3,Aayushi,Amrit,IT,250000,Aug-18-2022,Aayushi@gmail.com,7
4,Raju,Danta,Tester,50000,Aug-20-2022,Raju@gmail.com,9
5,Shanmathi,Shankar,Accounts,30000,Aug-12-2022,Shanmathi@gmail.com,11
6,Babu,sundaram,Engg,210000,Aug-24-2022,Babu@gmail.com,13
7,Murugan,Palani,Mech,25000,Aug-23-2022,Murugan@gmail.com,15
8,Mani,Megalai,IT,210000,Aug-24-2022,Mani@gmail.com,17
9,Vipul,Amitabh,Mech,230000,Aug-17-2022,Vipul@gmail.com,19
10,Amitah,puri,Engg,150000,Aug-11-2022,Amitah@gmail.com,21
11,Vinoth,nagarajan,IT,2000,Feb-19-2022,Vinoth@gmail.com,23
12,Anbu,Selvan,Mech,170000,Feb-11-2022,sithah@gmail.com,25
13,Aditya,Varadharajan,Engg,290000,Feb-14-2014,sithah@gmail.com,27
14,Satish,rangan,IT,200000,Aug-16-2022,Satish@gmail.com,29

# Q-14. Write an SQL query to clone a new table from another table.

In [5]:
cursor.execute("CREATE TABLE employees.workerclone SELECT * FROM employees.worker")
data_2 = pd.read_sql("SELECT * FROM employees.workerclone",mydb)
data_2

,First_Name,Last_Name,Department,Salary,Joining_Date,Email_ID
0,Siva,Ganesan,IT,250000,Aug-12-2022,Siva@gmail.com
1,Ranjini,Ganesan,Engg,150001,Aug-16-2022,Ranjini@gmail.com
2,sankare,Ganesan,Content Dev,250001,Aug-14-2022,sankare@gmail.com
3,Valarmathi,Ganesan,Mech,150001,Aug-15-2022,Valarmathi@gmail.com
4,Poovitha,Mathi,IT,130001,Aug-16-2022,Poovitha@gmail.com
5,Ananaya,Gosh,Content Dev,190001,Aug-12-2022,Ananaya@gmail.com
6,Aayushi,Amrit,IT,250000,Aug-18-2022,Aayushi@gmail.com
7,Suganya,Rangan,Content Dev,210000,Aug-19-2022,Suganya@gmail.com
8,Raju,Danta,Tester,50000,Aug-20-2022,Raju@gmail.com
9,Ram,Krishna,IT,25000,Aug-21-2022,Ram@gmail.com
10,Shanmathi,Shankar,Accounts,30000,Aug-12-2022,Shanmathi@gmail.com
11,Jin,Quan,IT,340932,Aug-23-2022,Jin@gmail.com
12,Babu,sundaram,Engg,210000,Aug-24-2022,Babu@gmail.com
13,Saravana,Babu,Content Dev,50000,Aug-23-2022,Saravana@gmail.com
14,Murugan,Palani,Mech,25000,Aug-23-2022,Murugan@gmail.com
15,Vel,Mani,Mech,30000,Aug-27-2022,Vel@gmail.com
16,Mani,Megalai,IT,210000,Aug-24-2022,Mani@gmail.com
17,Amitabh,Ganesan,IT,250000,Aug-10-2022,Amitabh@gmail.com
18,Vipul,Amitabh,Mech,230000,Aug-17-2022,Vipul@gmail.com
19,Satish,rangan,IT,200000,Aug-16-2022,Satish@gmail.com
20,Amitah,puri,Engg,150000,Aug-11-2022,Amitah@gmail.com
21,sithah,karthick,Mech,200000,Aug-19-2022,sithah@gmail.com
22,Vinoth,nagarajan,IT,2000,Feb-19-2022,Vinoth@gmail.com
23,Aditya,Varadharajan,Engg,290000,Feb-14-2022,sithah@gmail.com
24,Anbu,Selvan,Mech,170000,Feb-11-2022,sithah@gmail.com
25,Vinoth,nagarajan,IT,2000,Feb-19-2014,Vinoth@gmail.com
26,Aditya,Varadharajan,Engg,290000,Feb-14-2014,sithah@gmail.com
27,Anbu,Selvan,Mech,170000,Feb-11-2014,sithah@gmail.com
28,Satish,rangan,IT,200000,Aug-16-2022,Satish@gmail.com
29,Vipul,Amitabh,Mech,230000,Aug-17-2022,Vipul@gmail.com